<!DOCTYPE html>
<html>
<head>
  <%- include('includes/head.inc.ejs') %>

  <title>BinchBet | Home</title>
  <!--
  Au cas ou fdp:

  developer.sportradar.com
  usr : KemarLAPI
  pwd : Binchbet24
-->
</head>
<body>
  <script>
  var socket = io.connect('http://localhost:8080');
  </script>
  <main class="container-fluid">
    <%- include('includes/main_nav.inc.ejs'); %>

    <section id="content">
      <% if(page_to_load.title !== ''){ %>
      <div class="row mb-4">
        <div class="col-md">
          <h4 class="d-inline-block"><%- page_to_load.title%></h4>

          <!-- If there's a path -->
          <% if(page_to_load.path.length != 0){ %>
            <nav aria-label="breadcrumb" class="float-right">
              <ol class="breadcrumb p-0">
                <% for(var i = 0; i < page_to_load.path.length; i++) { %>
                  <li class="breadcrumb-item">
                    <a href="<%= page_to_load.path[i] %>">
                      <%= page_to_load.path[i] %>
                    </a>
                  </li>
                <% } %>
              </ol>
            </nav>
          <% } %>
        </div>
      </div>
      <% } %>

      <!--include the content of the page request
      from server.js-->
      <%- include(page_to_load.page);%>
    </section>

  </main>
</body>
</html>
